<div class="card" class="shadow-sm m-1 border card-width">
    <img class="card-img-top" src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png" alt="Card image cap">

    <div class="card-body p-2">
        <h4 class="card-title mb-0">{{name}}</h4>

        <div class="card-text d-flex mt-2  flex-row justify-content-between">
            <p class="card-text m-0">{{category}}</p>
            <h5 class="m-0 text-success"><b>{{price}}$</b></h5>
        </div>
    </div>
</div>