<div class="w-75 shadow mx-auto card mt-5 p-3">
    <h3>
        Disclaimer
    </h3>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lobortis nibh ac ullamcorper fringilla. Pellentesque ullamcorper nisi congue metus scelerisque vestibulum vel a nisl. Etiam metus felis, cursus vel tempus non, luctus at ante. Donec diam
        ipsum, pretium ac sagittis at, posuere finibus enim. Sed pharetra lacus sit amet ipsum consectetur, sit amet aliquam dolor pulvinar. Sed iaculis aliquet turpis a scelerisque. Quisque lacinia tellus ac velit vestibulum, id ultricies dui faucibus.
        Cras rhoncus, magna at suscipit dignissim, orci lectus tempus dui, vitae dictum sem purus non ligula. Ut id nisl dictum lorem gravida mollis. Morbi commodo, quam in pulvinar venenatis, neque mauris condimentum dolor, quis blandit erat metus in
        massa. In eleifend, dolor vel efficitur sodales, tellus ligula pretium diam, non posuere ipsum massa at nisi. Nulla vestibulum, sapien ut pellentesque aliquet, leo ex sagittis augue, in eleifend dui eros sed orci.
    </p>
    <p>
        Aenean id quam id elit scelerisque finibus. Aenean lobortis quam non diam mattis maximus. Praesent congue iaculis euismod. Suspendisse aliquam semper venenatis. Proin ut libero pretium, vehicula purus a, facilisis nisl. Pellentesque eget magna et lectus
        cursus tempor. Nulla eu orci nibh. Donec id imperdiet ligula, sit amet congue lacus. Vestibulum lobortis tincidunt laoreet. Sed et porttitor leo, non lacinia diam. Nullam ac lacinia purus. Donec auctor nibh quis porttitor rutrum. In felis dolor,
        commodo eu viverra in, ultrices eu sapien. Pellentesque bibendum sem nec massa venenatis commodo. In hac habitasse platea dictumst. Proin feugiat eros sit amet sagittis imperdiet.
    </p>
    <p>
        Pellentesque aliquam risus a ligula tristique, varius eleifend nibh volutpat. Sed luctus posuere cursus. Duis tincidunt dolor eu blandit ultricies. Integer nec vestibulum ante, vel dapibus tortor. In dictum laoreet elit vel posuere. Nullam nisi sem, pulvinar
        ac urna sit amet, sodales accumsan lacus. In non urna pretium, pellentesque risus nec, sodales metus. Sed sed est at arcu tincidunt tincidunt in nec mauris.
    </p>

    <p>
        Sed et lorem non arcu convallis ornare. Duis fringilla suscipit dui sed pulvinar. Pellentesque in scelerisque ipsum, at porta velit. Sed fermentum gravida leo vitae vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames
        ac turpis egestas. Cras maximus odio quis leo ornare pharetra et vitae nibh. Fusce vel lacus massa. Sed a accumsan leo. Aenean lobortis arcu ut augue mattis tincidunt. Mauris vehicula eros a urna vulputate faucibus. Aenean orci risus, sollicitudin
        id dapibus in, iaculis ut dui.
    </p>
</div>